{% extends 'layout.html'%}
<!--- para heredar todo el contenido y ademas agregar mas se utilizara "{{block.super}}"    -->


{%block title%}Login de Usuario{%endblock%}

  

{%block login%}
    <div id="contenedor">
        <h1>bloque de login</h1>
        <form>
            <label>Usuario<label/>
            <input type="text" id="nombre"/>
            <br>
            <br>
            <label>Contraseña<label/>
            <input type="password" id="contraseña"/>    

        </form>


        <h1>Login Usuario</h1>
        {% block formulario_login%} 
        {% endblock %}
    

    </div>
{%endblock%}