
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            <h1>Project Farma</h1>
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body>



 <!--Bloque de login-->   
    {% block login %}
    <div id="contenedor">
        <h1>Login Usuario</h1>
        <form>
            <label>Usuario<label/>
            <input type="text" id="nombre"/>
            <br>
            <br>
            <label>Contraseña<label/>
            <input type="password" id="contraseña"/>  
            <br>
            <br>        
            <input type="button" onclick="" value="aceptar"/>
        </form>
    </div>    
    {% endblock %}
    <!--Fin del bloque-->

    <!--Bloque para los datos de consulta y alta de usuarios-->
    {%block consultas%}
      
         
        
    {%endblock%}
           
    {% block formulario_login%}
    
    {% endblock %}

    


<hr>
<footer>
    {% block footer %}
    
        ProjectFarma &copy; Geovanni Blanco
   
    {%endblock%}
</footer>    

</body>
</html>